.cite-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #71cdfe;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 

    @media screen and (max-device-width: 900px) {
        .main-navigation{
            display: none;
        }

    }
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 5px;

    .logo__image {
        width: 90%;
        height: 90%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    @media screen and (max-device-width: 900px) { 
        width: 80px;
        height: 80px;
        border-radius: 50px;

        .logo__image {
            border-radius: 50px;
        }
    }
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .main-navigation__wrap {
        margin: 5px;
        padding: 5px;
        flex: 0 1 auto;

        .main-navigation__link {
            cursor: pointer;
            font-weight: 700;
            font-style: normal;
            font-size: 26px;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 1em;
            text-decoration: none; 
            color: #000;
            text-shadow: 1px 1px 1px #000;
        }

        .main-navigation__link-dropdown {
            cursor: pointer;
            font-weight: 900;
            font-size: 20px;
            text-transform: uppercase;
            color: #000;
            
        }

        .main-navigation__link:visited {
            color: none; 
            text-decoration: none; 
        }

        .main-navigation__link:hover {
            color: #7ac721; 
        }
    }
}


  /* Dropdown container - needed to position the dropdown content */
.main-navigation__dropdown {
    float: left;
    overflow: hidden;
}
  
/* Style the dropdown button to fit inside the topnav */
.main-navigation__dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
/* Style the dropdown content (hidden by default) */
.main-navigation__dropdown-content {
    display: none;
    position: absolute;
    background-color: #4d75c7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Style the links inside the dropdown */
.main-navigation__dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .main-navigation__dropdown:hover .dropbtn {
    background-color: #4d75c7;
    color: white;
}
  
/* Add a grey background to dropdown links on hover */
.main-navigation__dropdown-content a:hover {
    background-color: #1aa575;
    color: black;
}
  
/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.main-navigation__dropdown:hover .main-navigation__dropdown-content {
    display: block;
}
  



// btn dark/light mode 

#switchMode {
    background-size: cover;
    border: none; 
    border-radius: 20px;
    color: white; 
    padding: 20px 20px; 
    font-size: 16px; 
    cursor: pointer; 
}

#switchMode:hover {
    background-color: RoyalBlue;
}

.btn-moon { background-image: url(../ico/moon.png);}
.btn-sun { background-image: url(../ico/sun.png);}

.nav_active { color: #6eff00 !important;}


