$boxShadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);

.excursion-wrap {
    display: flex;
    font-family: 'Rubik-Regular', sans-serif;
    margin: 0 2%;

    .excursion-main {
        width: 66%;
    }
    
    .excursion-aside {
        width: 33%;
        margin-left: 20px;

        .org-sticky {
            top: 20px;
            position: sticky;
            background-color: gainsboro;
            border-radius: 4px;
            padding: 4px;
            box-shadow: $boxShadow;
        }
    }
}

@media screen and (max-width: 600px) {
    .excursion-wrap {
        flex-direction: column;
    
        .excursion-main {
            width: 100%;
        }
        .excursion-aside {
            margin-top: 5px;
            width: 100%;
            margin-left: 0;

            .org-sticky {
                border-radius: 0;
                box-shadow: none;
            }
        }
    }
}

.excursion__hr {
    border: solid #04aa6d;
    margin: 25px 10px;
}



.article-main {
    background-color: #fff;
    box-shadow: $boxShadow;
}



/**/
.article-heading__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-slider__wrap {
    padding: 10px;
    max-width: 80%;
    max-height: 80%;
}

/* map */
.article-ymap__container {
    // min-width: 350px;
    margin: 0 auto;
}

.ymap {
    background-color: #333;
    width: 90%;
    height: 300px;
    margin: 0 auto;
}
/* end_map */

/**/

.article-container {
    padding: 0.01em 16px;
}

.article-header {
    line-height: 1.5;
    margin: 10px 0;
    color: black;
}

.article-text {
    text-align: justify;
    color: black;
}

.article-list {
    list-style-type: disc;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.5rem;
    font-style: italic;
    margin: 10px 0;
}


/* organizer */
$guideImageSize: 80px;

.organizer {

}

.organizer-header {
    line-height: 1.5em;
    font-weight: bold;
    color: #000;
}

.organizer__wrap {
    display: flex;
}

.organizer-image_wrap {
    width: $guideImageSize;
    height: $guideImageSize;
    margin-right: 12px;
}

.organizer-image {
    width: $guideImageSize;
    height: $guideImageSize;
    border-radius: 50%;
}

.organizer-text {
    font-weight: bold;
    color: #000;
}

.organizer-element {
    list-style-type: disc;
    line-height: 1.5em;
    font-style: italic;
    margin: 0 20px;
}
/* end_organizer */

.article-btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.article-btn:hover {
    background-color: #45a049;
}


.article-form__input[type=text], .article-form__input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


@media screen and (max-width: 600px) {
    .article-heading__wrap {
        
        flex-direction: column;
        align-items: center;
        
    }

    .article-slider__wrap {
        width: 98%;
        height: 98%;
        max-width: 100%;
        max-height: 100%;
    }

    .article-map__wrap {
        margin: 0;
    }

    .article-main {
        box-shadow: none;
    }

}