/*.tours-big-card__name {

    top: 0;
    left: 13%;
    width: 320px;
    height: 100px;
    border-radius: 0 0 0 85px;

    letter-spacing: 2px;
    font-size: 20px;
    line-height: 30px;
    font-family: "AlumniSans", sans-serif;

    transition-duration: .7s;
    cursor: pointer;
    text-align: end;
    
    background-color: black;
    position: absolute;
    padding: 10px 20px;

}

.tours-big-card__name:hover {
    transition-duration: .7s;
    opacity: .5;
    background-color: rgb(133, 103, 98);
}*/