.about-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-card {
    //height: 780px;
    margin: 20px;
    width: 350px;
}

.about-card__image-wrap {
    border: solid 0.5px black;
    width: 350px;
    height: 500px;

    .about-card__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 0;
    }
}

.about-card__name {
    line-height: 30px;
    font-size: 30px;
    font-weight: 900;
    text-align: end;
    margin: 10px 0;
}

.about-card__text {
    text-align: justify;
    font-size: 15px;
    line-height: 15px;
}

.about-hr {
    border: solid #87af84;
    margin-bottom: 5px;
    margin-top: 25px;
}

.about-card__link {
    text-decoration: none;
    color: var(--text-main-color__green);
}

@media screen and (max-width: 600px) {
    .about-card {
        margin: 10px;
        //width: 250px;
        box-shadow: 0px 0px 4px 0px rgb(159, 173, 153);
        border-radius: 1%;
        padding: 10px;
    }
    
    .about-card__image-wrap {
        width: 250px;
        height: 300px;
        margin: 0 auto;
    }

    .about-card__name {
        line-height: 30px;
        font-size: 18px;
    }

    .about-card__link {
        font-size: 20px;
    }
}
