.price {
    //border-top: 3.0px solid green;
    margin: 5px 0;
}

.price__header {
    text-align: center;
    font-size: 40px;
    line-height: 80px;
}

.price__text {
    text-align: center;
    font-family: "Rubik-Medium";
    line-height: 20px;
    margin: 20px;
}

.price__list {
    list-style-type: circle;
    padding: 20px;
    .price__item {
        line-height: 20px;
        color: var(--text-main-color);
    }

}

@media screen and (max-width: 600px) {
    .price__text {
        font-size: 16px;
        margin: 0 20px;
        text-align: justify;
    }
}