.info {
    text-align: center;
    padding: 0 2%;

    .info__header {
        font-family: 'Rubik-Medium', sans-serif;
    }

    .info__text {
        text-align: justify;
    }

    hr {
        margin: 25px;
        border-color: #87af84;
    }
}